<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/analisis.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css')}}">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- not login -->
            <div class="navbar-guest" style="display:none;">
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <a href="{{url_for('login')}}" class="btn-green" id="masuk">Masuk</a>
            </div>

            <!-- after login -->
            <div class="navbar-logged-in">
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <div class="nav-links">
                    <a href="{{url_for('index')}}" data-page="beranda" class="active">Beranda</a>
                    <a href="{{url_for('analisis')}}" data-page="analisis">Analisis</a>
                    <a href="{{url_for('history')}}" data-page="history">Riwayat</a>
                </div>
                <a class="btn-green" id="keluar">Keluar</a>
            </div>
        </nav>

        <script src="{{ url_for('static', filename='scripts/navbar.js')}}"></script>
    </header>

    <section id="hero-section">
        <h1>Analisis</h1>
        <h4>Memantau dan mengoptimalkan konsumsi listrik</h4>
    </section>

    <!-- edit tambah perangkat -->
    <div class="container-box"  id="add-device-form">
        <h3>Tambah Perangkat Anda</h3>
    {%if devices%}
        {% for device in devices %}
        <div class="new-device">
            <!-- device name -->
            <div class="input-form">
                <label for="name-device">Nama Perangkat</label>
                <input type="text" placeholder="kulkas" value="{{device.nama | default(kulkas)}}"></input>
            </div>

            <!-- jumlah device -->
            <div class="input-form" id="jml">
                <label for="jml-device">Jumlah</label>
                <input type="number" class="form-control-counter-input" value="{{device.jumlah | default(1)}}" min="1">
            </div>


            <!-- tingkat kepentingan -->
            <div class="input-form" id="jml">
                <label for="kepentingan">Tingkat Kepentingan</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected disabled>Pilih Tingkat Kepentingan</option>
                    <!-- <option value="1">Rendah (optional)</option>
                    <option value="2">Sedang (Important)</option>
                    <option value="3">Tinggi (Essential)</option> -->
                    <option value="1" {% if device.kepentingan == 'Rendah' %}selected{% endif %}>Rendah (optional)</option>
                    <option value="2" {% if device.kepentingan == 'Sedang' %}selected{% endif %}>Sedang (Important)</option>
                    <option value="3" {% if device.kepentingan == 'Tinggi' %}selected{% endif %}>Tinggi (Essential)</option>
                </select>
            </div>


            <!-- daya -->
            <div class="input-form">
                <label for="daya">Daya (Watt/Unit)</label>
                <input type="number" placeholder="100" value="{{device.watt | default(100)}}"></input>
            </div>

            <!-- jam penggunaan -->
            <div class="input-form">
                <label for="time-use">Jam penggunaan (per hari)</label>
                <input type="number" placeholder="3" value="{{device.waktu_penggunaan | default(3)}}"></input>
            </div>

            <!-- delete device -->
            <button id="delete-device-btn" class="btn-red">Hapus</button>
        </div>
        {%endfor%}
    {%endif%}

        <!-- update device -->
        <button id="update-device-btn" class="btn-yellow">Perbarui Data</button>
    </div>

    <!-- footer -->
    <div style="height: 10rem;"></div>
    <footer id="footer">
        <h1>WattSaver</h1>
        <hr>
        <ul class="list">
                <a href="#beranda">Beranda</a>
            <li>
                <a href="#analisis">Analisis</a>
            </li>
            <li>
                <a href="#riwayat">Riwayat</a>
            </li>
            <li>
                <a href="#">@2025 WattSaver</a>
            </li>
        </ul>
    </footer>
    
    <script src="{{ url_for('static', filename='scripts/edit.js')}}"></script>
</body>
</html>