<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WattSaver</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analisis.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css')}}">
    
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- not login -->
            <div class="navbar-guest" {% if logged_in%}style="display:none;"{%endif%}>
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <a href="{{url_for('login')}}" class="btn-green" id="masuk">Masuk</a>
            </div>

            <!-- after login -->
            <div class="navbar-logged-in" {% if not logged_in%}style="display:none;"{%endif%}>
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <div class="nav-links">
                    <a href="{{url_for('index')}}" data-page="beranda" class="active">Beranda</a>
                    <a href="{{url_for('analisis')}}" data-page="analisis">Analisis</a>
                    <a href="{{url_for('history')}}" data-page="history">Riwayat</a>
                </div>
                <a class="btn-green" id="keluar" href="{{ url_for('logout')}}">Keluar</a>
            </div>
        </nav>

        <script src="{{ url_for('static', filename='scripts/navbar.js')}}"></script>
    </header>

    <script>
        // Ambil data dari rumah_list untuk chart
        const rumahList = {{ rumah_list |reverse|list|tojson }};
        // Ambil nama bulan dari Jinja
        const namaBulan = {{ nama_bulan | tojson }};
    </script>

    <section id="hero-section">
        <h1>History</h1>
        <h4>History Chart pengeluaran bulan sebelumnya vs TARGET</h4>
    </section>
    <div id="chart">
        <div class="container-history">
            <canvas width="40px" id="history-chart"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ url_for('static', filename='scripts/history.js')}}"></script>

    <!-- Rangkuman penghematan -->
    <div id="summary">
        <h2>Rangkuman Penghematan</h2>
        {% set nama_bulan = [
        '', 'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
        'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
        ] %}
        <div class="summary-item">
            <span class="label">Total Penghematan</span>
            <span class="value">Rp {{ "{:,}".format(total_penghematan|int) }}</span>
        </div>
        <div class="summary-item">
            <span class="label">Bulan paling hemat</span>
            <span class="value">
                {% if paling_hemat %}
                    {{ nama_bulan[paling_hemat[1]|int] }} {{ paling_hemat[2] }}
                {% else %}
                    -
                {% endif %}
            </span>
        </div>
    </div>

    <!-- Detail riwayat -->
    <h3 id="detail-riwayat">Detail Riwayat</h3>
    {% set nama_bulan = [
    '', 'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
    'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
    ] %}
    {% for rumah in rumah_list %}
    <div class="history-card">
        <h3 class="month">{{ nama_bulan[rumah[1]|int] }} {{ rumah[2] }}</h3>
        <div class="row">
            <div class="col">
                <p>Target Pengeluaran Bulanan(Rp)</p>
                <p class="amount">Rp {{ "{:,}".format(rumah[3]) }}</p>
            </div>
            <div class="col">
                <p>Kategori (berdasarkan target)</p>
                {% if rumah[5] == '2' %}
                    <p class="category-boros"><strong>Boros</strong></p>
                {% elif rumah[5] == '0' %}
                    <p class="category-hemat"><strong>Hemat</strong></p>
                {% else %}
                    <p class="category-normal"><strong>Normal</strong></p>
                {% endif %}
            </div>
            <div class="button-group">
                <a class="btn-green" id="lihat-detail"
                href="{{ url_for('detail', rumah_id=rumah[0], from_page='history') }}"
                data-page="history">Lihat Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
    

    <!-- footer -->
    <div style="height: 10rem;"></div>
    <footer id="footer">
        <h1>WattSaver</h1>
        <hr>
        <ul class="list">
                <a href="#beranda">Beranda</a>
            <li>
                <a href="#analisis">Analisis</a>
            </li>
            <li>
                <a href="#riwayat">Riwayat</a>
            </li>
            <li>
                <a href="#">@2025 WattSaver</a>
            </li>
        </ul>
    </footer>
    
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</body>
</html>