<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analisis.css')}}">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- not login -->
            <div class="navbar-guest" {% if logged_in%}style="display:none;"{%endif%}>
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <a href="{{url_for('login')}}" class="btn-green" id="masuk">Masuk</a>
            </div>

            <!-- after login -->
            <div class="navbar-logged-in" {% if not logged_in%}style="display:none;"{%endif%}>
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <div class="nav-links">
                    <a href="{{url_for('index')}}" data-page="beranda" class="active">Beranda</a>
                    <a href="{{url_for('analisis')}}" data-page="analisis">Analisis</a>
                    <a href="{{url_for('history')}}" data-page="history">Riwayat</a>
                </div>
                <a class="btn-green" id="keluar" href="{{ url_for('logout')}}">Keluar</a>
            </div>
        </nav>

        <script src="{{ url_for('static', filename='scripts/navbar.js')}}"></script>
    </header>

    <h1>PAGE history</h1>

    <div style="height: 10rem;"></div>
    <footer id="footer">
        <h1>WattSaver</h1>
        <hr>
        <ul class="list">
                <a href="#beranda">Beranda</a>
            <li>
                <a href="#analisis">Analisis</a>
            </li>
            <li>
                <a href="#riwayat">Riwayat</a>
            </li>
            <li>
                <a href="#">@2025 WattSaver</a>
            </li>
        </ul>
    </footer>
</body>
</html>