<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <title>Wattsaver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <header>
        <nav class="navbar">
            <!-- not login -->
            <div class="navbar-guest" {% if logged_in%}style="display:none;"{%endif%}>
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <a href="{{url_for('login')}}" class="btn-green" id="masuk">Masuk</a>
            </div>

            <!-- after login -->
            <div class="navbar-logged-in" {% if not logged_in%}style="display:none;"{%endif%}>
                <img src="{{ url_for('static', filename='assets/logo-nobg.png')}}" alt="logo+icon" class="logo">
                <div class="nav-links">
                    <a href="{{url_for('index')}}" data-page="beranda" class="active">Beranda</a>
                    <a href="{{url_for('analisis')}}" data-page="analisis">Analisis</a>
                    <a href="{{url_for('history')}}" data-page="history">Riwayat</a>
                </div>

                <!-- <div class="toggle-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="50" viewBox="0 0 30 30">
                        <path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"></path>
                    </svg>
                </div> -->
                
                <a class="btn-green" id="keluar" href="{{ url_for('logout')}}">Keluar</a>
            </div>
        </nav>

        <script src="{{ url_for('static', filename='scripts/navbar.js')}}"></script>
    </header>
    

    <section id="coba-sekarang">
        <!-- {%if username%}
            <h3>Selamat datang {{ username }}</h3>
        {%endif%} -->

        <div class="try-grid-item-1">
            <h1>Efisiensi energi listrik dan hemat pengeluaran</h1>
            <p>ingin menjadikan kota lebih baik? Buat perubahan hari ini dengan bergabung bersama kami</p>
            <a href="{{url_for('login')}}" class="btn-green" id="try-now" {%if logged_in%}style="display: none;"{%endif%}>Coba sekarang</a>
            <a href="{{url_for('analisis')}}" class="btn-green" id="try-now" {%if not logged_in%}style="display: none;"{%endif%}>Coba sekarang</a>
        </div>

        <div class="try-grid-item-2">
            <img src="{{ url_for('static', filename='assets/green-nobg.png')}}" alt="green-items">
            <img id="graph" src="{{ url_for('static', filename='assets/graph-electricity-promote.png')}}" alt="graph-consumption">
        </div>

    </section>

    <div class="blur-bg">
        <section id="data-problem">
            <div class="data-explain">
                <h2>> 13%</h2>
                <h5>Realisasi konsumsi listrik</h5>
                <hr>
                <p>konsumsi listrik pada periode 2023 
                    mencapai 1.337 kWh/kapita, meningkat 
                    sebesar 13,98% dari tahun 2022 sebesar
                    1.173kWh/kapita</p>
            </div>
            
            <div class="data-explain">
                <h2>12</h2>
                <h5>Negara<br>paling boros listrik</h5>
                <hr>
                <p>Mengurangi konsumsi listrik berarti penurunan 
                    permintaan energi kota secara keseluruhan</p>
                </div>
         </section>
    </div>

    <section id="benefit">
        <div class="benefit-item">
            <div class="benefit-desc">
                <h1>Efisiensi Energi</h1>
                <p>Mengurangi permintaan energi listrik kota, berkontribusi dalam 
                    pengurangan emisi karbon untuk kota pintar lebih 
                    hijau dan berkelanjutan </p>
            </div>
            <img class='img-benefit' src="{{ url_for('static', filename='assets/efisiensi-pict.png')}}" alt="efisiensi-pict">
        </div>

        <div class="benefit-item">
            <div div class="benefit-desc">
                <h1>Disiplin Finansial</h1>
                <p>Tetapkan target pengeluaran dan meningkatkan 
                    kebiasaan perencanaan dan disiplin finansial sekaligus energi </p>
            </div>
            <img class='img-benefit' src="{{ url_for('static', filename='assets/disiplin-pict.png')}}" alt="efisiensi-pict">
        </div>

        <div class="benefit-item">
            <div class="benefit-desc">
                <h1>Hemat pengeluran</h1>
                <p>Hemat uang yang bisa dialokasikan ke kebutuhan lain, 
                    meningkatkan kualitas hidup dan kebebasan finansial di era urban. 
                    Dapatkan rekomendasi berbasis AI untuk optimasi penggunaan listrik </p>
            </div>
            <img class='img-benefit' src="{{ url_for('static', filename='assets/hemat-pict.png')}}" alt="efisiensi-pict">
        </div>
        
    </section>

    <section id="join-us-section" {% if logged_in%}style="display:none;"{%endif%}>
        <h3>Ayo bergabung bersama kami!</h3>
        <a href="{{url_for('login')}}" id="join" class='btn-green'>Join</a>

    </section>


    <!-- <section id="home">
        <p>this is HOME</p>
    </section>
    <section id="dashboard">
        <p>this is DASHBOARD</p>
    </section>
    <section id="history">
        <p>this is HISTORY</p>
    </section> -->


    <footer id="footer">
        <h1>WattSaver</h1>
        <hr>
        <ul class="list">
                <a href="#beranda">Beranda</a>
            <li>
                <a href="#analisis">Analisis</a>
            </li>
            <li>
                <a href="#riwayat">Riwayat</a>
            </li>
            <li>
                <a href="#">@2025 WattSaver</a>
            </li>
        </ul>
    </footer>
</body>
    <script src="{{ url_for('static', filename='scripts/landingPage.js')}}"></script>
</html>