<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regist page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
</head>
<body>
    <div class="form-auth">
        <h1>Daftar</h1>
        <div class="in-form">

            <!-- username -->
            <div class="input-regist">
                <label class="label-auth" for="username">Nama Pengguna</label>
                <input type="text" placeholder="john_doe"></input>
            </div>
            
            <!-- Email -->
            <div class="input-regist">
                <label class="label-auth" for="username">Email</label>
                <input type="email" placeholder="@johnD123"></input>
            </div>

            <!-- password -->
            <div class="input-regist" id="password">
                <label class="label-auth" for="passoword">Kata Sandi</label>
                <input type="text" placeholder="minimal 5 karakter"></input>
            </div>

            <!-- sementra nav to dashboard utama -->
            <!-- <button id="register" class="btn-green">Daftar</button> -->
            <a href="{{ url_for('index')}}"  id="register" class="btn-green" style="text-align: center;">Daftar</a>
            <p>Sudah punya akun? <a href="{{url_for('login')}}">Masuk</a></p>
        </div>
        <!-- <a href="" class="btn-green">ini btn-green</a> -->
    </div>
    <div class="icon-lamp">
        <img src="{{ url_for('static', filename='assets/icon-lamp-nobg.png')}}" alt="no-lamp-logo">
        <h1>WattSaver</h1>
    </div>
</body>
</html>